body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #020617, #0f172a);
    color: white;
}

section {
    padding: 60px 10%;
}

h2 {
    color: #38bdf8;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.buttons {
    margin-top: 20px;
}

.btn, .btn-outline {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.btn {
    background: #38bdf8;
    color: black;
}

.btn-outline {
    border: 1px solid #38bdf8;
    color: #38bdf8;
}

/* SKILLS */
.skill-box span {
    display: inline-block;
    background: #1e293b;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

/* PROJECTS */
.project-card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

.tags {
    margin-top: 10px;
    color: #38bdf8;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: black;
}
